@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
background-color: #82DDB5;
background-image: url('img/illustration.gif'), url('img/texture.jpg'); background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
font-family: 'Quicksand', sans-serif;
margin: 0;
}
#nav {
background-color: #6B9; border-bottom: 2px dashed #487; color: white;
font-weight: bold;

    padding: 20px 0;
       text-align: center;
       word-spacing: 2em;
}
   #header {
       text-align: center;
       margin-top: 40px;
}
   #logo {
       max-width: 360px;
       width: 100%;
}
   #description, #date {
       max-width: 220px;
       width: 100%;
}
   .register_btn {
       background-color: #E43;
       border: 2px dashed #A43;
       border-radius: 2em;
       color: #FFF;
       cursor: pointer;
       display: inline-block;
       font-weight: bold;
       margin-top: 25px;
       margin-bottom: 350px;
       padding: 15px 30px;
}


#what  {
background-color: rgba(255, 255, 255, 0.5);
    
font-weight: bold;

    padding: 20px 0;
       text-align: center;
       color: #339999;
       margin: 10px 200px 0px 200px;
}
    
    #sponsor_logos {
         max-width: 250px;
            display: block;
            margin-left:auto;
            margin-right: auto;
            width: 50%;
        }


#why {
background-color: #A7ECD1;
font-weight: bold;

    padding: 20px 0;
       text-align: center;
       color: #339999;
       margin: 0px 200px 0px 200px;
    
}

#where {
         text-align: center ;
       color: #C4007D;

    background-image: url('img/map.gif');
    background-size: auto, auto;
    background-repeat: no-repeat,repeat-x;
       padding: 300px 0px;
     margin: 0px 0px 0px 0px;
}


#when {  text-align: center ;
       color: white;
    border-bottom: dashed white;

    background-image: url('img/wires.png');
    background-size: 40%;
    background-repeat: repeat;
    background-color: rgba(18, 156, 154, 10);
     padding: 10px 0px;
     margin: 0px 0px 0px 0px;
    
}
#who {
    background-color: #F5F5F5;
font-weight: bold;

    padding: 50px 0;
       text-align: center;
       color: #339999;
       margin: 0px 0px 0px 0px;
}

#footer {
         max-width: 40px;
            display: block;
            margin-left:auto;
            margin-right: auto;
            width: 50%;
        }

